/* Josefin Sans */
@font-face {
  font-family: 'Josefin Sans';
  src: url('/fonts/JosefinSans/JosefinSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: block;
}
@font-face {
  font-family: 'Josefin Sans';
  src: url('/fonts/JosefinSans/JosefinSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: 'Josefin Sans';
  src: url('/fonts/JosefinSans/JosefinSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: block;
}
@font-face {
  font-family: 'Josefin Sans';
  src: url('/fonts/JosefinSans/JosefinSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: block;
}
@font-face {
  font-family: 'Josefin Sans';
  src: url('/fonts/JosefinSans/JosefinSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: block;
}

/* Funnel Display */
@font-face {
  font-family: 'Funnel Display';
  src: url('/fonts/FunnelDisplay/FunnelDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: block;
}
@font-face {
  font-family: 'Funnel Display';
  src: url('/fonts/FunnelDisplay/FunnelDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: 'Funnel Display';
  src: url('/fonts/FunnelDisplay/FunnelDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: block;
}
@font-face {
  font-family: 'Funnel Display';
  src: url('/fonts/FunnelDisplay/FunnelDisplay-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: block;
}
@font-face {
  font-family: 'Funnel Display';
  src: url('/fonts/FunnelDisplay/FunnelDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: block;
}

/* Primary and Surface Palettes */
:root {
  --p-primary-50: #fcfaf6;
  --p-primary-100: #efe7d6;
  --p-primary-200: #e3d3b5;
  --p-primary-300: #d7c095;
  --p-primary-400: #caac74;
  --p-primary-500: #be9954;
  --p-primary-600: #a28247;
  --p-primary-700: #856b3b;
  --p-primary-800: #69542e;
  --p-primary-900: #4c3d22;
  --p-primary-950: #302615;
  --p-surface-0: #ffffff;
  --p-surface-50: #f2f6fa;
  --p-surface-100: #c2d5e8;
  --p-surface-200: #91b4d6;
  --p-surface-300: #6193c4;
  --p-surface-400: #3071b2;
  --p-surface-500: #0050a0;
  --p-surface-600: #004488;
  --p-surface-700: #003870;
  --p-surface-800: #002c58;
  --p-surface-900: #002040;
  --p-surface-950: #001428;
  --p-content-border-radius: 6px;
}

/* Light */
:root {
  --p-primary-color: var(--p-primary-500);
  --p-primary-contrast-color: var(--p-surface-0);
  --p-primary-hover-color: var(--p-primary-600);
  --p-primary-active-color: var(--p-primary-700);
  --p-content-border-color: var(--p-surface-200);
  --p-content-hover-background: var(--p-surface-100);
  --p-content-hover-color: var(--p-surface-800);
  --p-highlight-background: var(--p-primary-50);
  --p-highlight-color: var(--p-primary-700);
  --p-highlight-focus-background: var(--p-primary-100);
  --p-highlight-focus-color: var(--p-primary-800);
  --p-text-color: var(--p-surface-700);
  --p-text-hover-color: var(--p-surface-800);
  --p-text-muted-color: var(--p-surface-500);
  --p-text-hover-muted-color: var(--p-surface-600);
}

/* 
 * Dark Mode
 * Defaults to system, change the selector to match the darkMode in tailwind.config.
 * For example; 
 * darkMode: ['selector', '[class*="app-dark"]'] 
 * should be;
 * :root[class="app-dark"] {
*/
@media (prefers-color-scheme: dark) {
  :root {
    --p-primary-color: var(--p-primary-400);
    --p-primary-contrast-color: var(--p-surface-900);
    --p-primary-hover-color: var(--p-primary-300);
    --p-primary-active-color: var(--p-primary-200);
    --p-content-border-color: var(--p-surface-700);
    --p-content-hover-background: var(--p-surface-800);
    --p-content-hover-color: var(--p-surface-0);
    --p-highlight-background: color-mix(
      in srgb,
      var(--p-primary-400),
      transparent 84%
    );
    --p-highlight-color: rgba(255, 255, 255, 0.87);
    --p-highlight-focus-background: color-mix(
      in srgb,
      var(--p-primary-400),
      transparent 76%
    );
    --p-highlight-focus-color: rgba(255, 255, 255, 0.87);
    --p-text-color: var(--p-surface-0);
    --p-text-hover-color: var(--p-surface-0);
    --p-text-muted-color: var(--p-surface-400);
    --p-text-hover-muted-color: var(--p-surface-300);
  }
}
